.home-game{
	padding:0px 0px 0px;
	background:#003a75;
	color:#fff;
}
.home-game-title{
	line-height:21px;
	font-size:18px
}
.home-game-list__item{
	position:relative;
	margin-top:16px;
	color:#fff;
	border-radius:8px;
	overflow:hidden;
	height:200px
}
.home-game__background{
	background-size:cover;
	background-position:50%;
	height:200px
}
.home-game__background:after{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background-image:linear-gradient(0deg,transparent,#000);
	content:""
}
.home-game-list__item--gamer .home-game__background:after{
	display:none
}
.home-game__title{
	position:absolute;
	top:24px;
	left:24px;
	line-height:29px;
	font-size:24px
}
.home-game__description{
	position:absolute;
	top:57px;
	left:24px;
	line-height:18px;
	font-size:14px
}

@media only screen and (min-width:1024px)
{
	.home-game{padding:0px 0px 0px}
	.home-game-list{margin-top:0px;margin-left:0px;}
	.home-game-list:after{content:"";display:block;clear:both}
	.home-game-list__item{float:left;margin-left:17px}
	.home-game-list__item,.home-game__background{width:450px;height:240px}
	.home-game-list__item:hover .home-game__title{color:#46cfa7}
	.home-message__button:hover{text-decoration:underline}}
}
.content{
	max-width:1300px;margin:0 auto;
}
.content:after{
	content:"";display:block;clear:both
}
@media only screen and (min-width:1000px){
	.home-game__title{top:32px;left:32px;line-height:39px;font-size:32px
}
.home-game__description{
	top:75px;left:32px
}
.home-message__button{
	display:inline-block;margin-left:12px
}
.home-message__button:first-child{
	margin-left:0
}.home-notification{
	text-align:center
	}
}