
#footer1 {
   position:fixed;
   left:0px;
   bottom:0px;
   height:500px;
   width:100%;
   background: rgba(0, 0, 0, 0.025);;
   color: white;
   display: none;
}
.slider {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  overflow: hidden;
  background-color: #000; color: #FFF;
  transition: all 1s;
}
.slider.close {
  top: 100vh;
  height: 0;
}

#footer1 p {
   text-align: center;
}